body {
    --menuBackground: rgb(178, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    background-color: var(--menuBackground);
    overflow: hidden;
}

.menu {
    padding: 0.2rem;
    background-color: firebrick;
}

.menu .menu-container {
    color: rgb(224, 199, 199);
    background-color: var(--menuBackground);
    width: 95%;
    margin: 0 auto;
}

.menu .menu-container .controlItem {
    display: inline-block;
    margin-right: 2rem;
    padding: 0.2rem;
    border: 1px solid rgba(161, 32, 32, 0.5);
}

#status {
    margin: 0.2rem;
}