body {
    margin: 0;
    background-color: rgb(87, 42, 0);
}

.container {
    width: 800px;
    margin: 0 auto;
}

#canvas {
    /* border: 4px solid rgb(178, 34, 34); */
    box-shadow: 0 0 12px 5px rgb(178, 34, 34, 0.2);
    margin: 50px;
    background-color: wheat;
}